﻿@{
	string dogState;
    var txt = DateTime.Now;
}
<html>
			<body>
						<p>　　　　　 　____________________________________________________________</br>
						 　/\____/\　　∕̸  </br>
						 （　´∀`　）＜　Don't you have more important things to do than to be here?</br>
						 （　　　 ) 　＼___________________________________________________________</br>
						  　|　|　|</br>
						 （___)___) </p>
			</body>
</html>