@{
    var hour = (DateTime.Now.Hour + 3) % 24;
	var minute = DateTime.Now.Minute;
}
<html>
			<body>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______________________________________________________________</br>
						&nbsp;&nbsp;&nbsp;/\____/\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</br>
						&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&acute;&forall;&#96;&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;<&nbsp;&nbsp;It's @hour:@minute already! Don't you have more important things to do than to be here?</br>
						&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\_______________________________________________________________</br>
						&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</br>
						&nbsp;&nbsp;(___)___)</p>
			</body>
</html>